# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# PyTorch
*.pt

performer-env/
myenv/

# Data directory
data/trained_model.pt
data/wikitext103_dataset.pt
data/tokenizer.json
checkpoints/
data/model_config.json
